<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.accordapp.lift" version="0.1.1" android-versionCode="2">
  <name>Lift</name>
  <description>Lift For Life Camps</description>
  <author href="http://accordapp.com" email="eric.s.higdon@gmail.com">Eric Higdon</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="false"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="StatusBarOverlaysWebView" value="true"/>
  <preference name="StatusBarBackgroundColor" value="#000000"/>
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="false"/>
  <preference name="auto-hide-splash-screen" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="500"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <plugin name="org.apache.cordova.splashscreen"/>
  <plugin name="org.apache.cordova.statusbar"/>
  <plugin name="org.apache.cordova.device"/>
  <plugin name="org.apache.cordova.file"/>
  <plugin name="org.apache.cordova.file-transfer"/>
  <plugin name="cordova-plugin-headercolor"/>
  <plugin name="cordova-plugin-dialogs"/>
  <plugin name="cordova-plugin-media" spec="~2.4.1" />
  <plugin name="cordova-plugin-appversion" source="npm" spec="~1.0.0" />
  <plugin name="cordova-plugin-music-controls" source="npm" spec="~1.4.0" />
  <plugin name="remote-control" source="git" spec="https://github.com/shi11/RemoteControls.git" />
  <plugin name="phonegap-plugin-push" source="npm" spec="~1.8.0">
      <variable name="SENDER_ID" value="663980513133" />
  </plugin>
  
  <icon src="icon.png" />
  <splash src="splash.png" />
  <platform name="ios">
	<icon height="60" width="60" src="www/res/icons/ios/icon-60.png" />
  	<icon height="120" width="120" src="www/res/icons/ios/icon-60-2x.png" />
  	<icon height="180" width="180" src="www/res/icons/ios/icon-60-3x.png" />
  	<icon height="76" width="76" src="www/res/icons/ios/icon-76.png" />
  	<icon height="152" width="152" src="www/res/icons/ios/icon-76-2x.png" />
  	<icon height="40" width="40" src="www/res/icons/ios/icon-40.png" />
  	<icon height="80" width="80" src="www/res/icons/ios/icon-40-2x.png" />
  	<icon height="57" width="57" src="www/res/icons/ios/icon-57.png" />
  	<icon height="114" width="114" src="www/res/icons/ios/icon-57-2x.png" />
  	<icon height="72" width="72" src="www/res/icons/ios/icon-72.png" />
  	<icon height="144" width="144" src="www/res/icons/ios/icon-72-2x.png" />
  	<icon height="29" width="29" src="www/res/icons/ios/icon-small.png" />
  	<icon height="58" width="58" src="www/res/icons/ios/icon-small-2x.png" />
  	<icon height="50" width="50" src="www/res/icons/ios/icon-50.png" />
  	<icon height="100" width="100" src="www/res/icons/ios/icon-50-2x.png" />

  	<splash height="480" width="320" src="www/res/screens/ios/screen-iphone-portrait.png" />
  	<splash height="960" width="640" src="www/res/screens/ios/screen-iphone-portrait-2x.png" />
  	<splash height="1024" width="768" src="www/res/screens/ios/screen-ipad-portrait.png" />
  	<splash height="2048" width="1536" src="www/res/screens/ios/screen-ipad-portrait-2x.png" />
  	<splash height="768" width="1024" src="www/res/screens/ios/screen-ipad-landscape.png" />
  	<splash height="1536" width="2048" src="www/res/screens/ios/screen-ipad-landscape-2x.png" />
  	<splash height="1136" width="640" src="www/res/screens/ios/screen-iphone-568h-2x.png" />
  	<splash height="1334" width="750" src="www/res/screens/ios/screen-iphone-portrait-667h.png" />
  	<splash height="2208" width="1242" src="www/res/screens/ios/screen-iphone-portrait-736h.png" />
  	<splash height="1242" width="2208" src="www/res/screens/ios/screen-iphone-landscape-736h.png" />
  </platform>

  <platform name="android">
  	<icon qualifier="ldpi" src="www/res/icons/android/icon-36-ldpi.png" />
  	<icon qualifier="mdpi" src="www/res/icons/android/icon-48-mdpi.png" />
  	<icon qualifier="hdpi" src="www/res/icons/android/icon-72-hdpi.png" />
  	<icon qualifier="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png" />
  	<icon qualifier="xxhdpi" src="www/res/icons/android/icon-144-xxhdpi.png" />
  	<icon qualifier="xxxhdpi" src="www/res/icons/android/icon-192-xxxhdpi.png" />

  	<splash qualifier="land-hdpi" src="www/res/screens/android/screen-hdpi-landscape.png" />
  	<splash qualifier="land-ldpi" src="www/res/screens/android/screen-ldpi-landscape.png" />
  	<splash qualifier="land-mdpi" src="www/res/screens/android/screen-mdpi-landscape.png" />
  	<splash qualifier="land-xhdpi" src="www/res/screens/android/screen-xhdpi-landscape.png" />
  	<splash qualifier="port-hdpi" src="www/res/screens/android/screen-hdpi-portrait.png" />
  	<splash qualifier="port-ldpi" src="www/res/screens/android/screen-ldpi-portrait.png" />
  	<splash qualifier="port-mdpi" src="www/res/screens/android/screen-mdpi-portrait.png" />
  	<splash qualifier="port-xhdpi" src="www/res/screens/android/screen-xhdpi-portrait.png" />
  </platform>

  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="cdvfile://*" />
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  
  <config-file platform="ios" parent="UIBackgroundModes" mode="replace">
    <array>
        <string>remote-notification</string>
        <string>audio</string>
    </array>
  </config-file>
  
</widget>
